{% extends "master.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Members</title>
  </head>
  <body>
    <div align="center">
    {% block content %}
    <h1>Employee's</h1>
    <p>Click on bellow employee name for more information.</p>

    <tr>
        <td>
            {% for x in mymembers %}
            <li><a href="https://venkyalane.pythonanywhere.com/details/{{ x.employee_id }}">{{ x.firstname }} {{ x.lastname }}</a></li></br>
            {% endfor %}
        </td>
    </tr>
    </br>
    <p> Back To<a href="https://venkyalane.pythonanywhere.com/"> Home</a></p>
    {% endblock %}
    </div>
  </body>
</html>