{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ContactUs</title>
  </head>
  {% include "header.html" %}
  <body>
    {% include 'navbar.html' %}
    <h1 align="center">Contact US</h1>
    <div align="center">
      <img src="{% static 'avatar-5.png' %}" height="200" width="200" alt="AVS.com">
      <h2><b>Mr.Vyankatesh Alane</b></h2>
      <p><b>Email: venky@gmail.com</b></p>
      <p><b>Facebook:<a href="https://www.facebook.com/venkyalane">Venky Alane</a></b></p>
      <p><b>Twitter:<a href="https://twitter.com/AlaneVyankatesh">Venky Alane</a></b></p>
    </div>
    <p align="left">Back to <a href="https://venkyalane.pythonanywhere.com/">home</a></p>

  </body>
</html>