{% extends "master.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      {{ mymembers.firstname }} {{ mymembers.lastname }}
    {% endblock %}

  <body>
    {% block content %}
      <p> Following information about {{mymembers.firstname}} {{mymembers.lastname}} </p>
      <h1>{{ mymembers.firstname }} {{ mymembers.lastname }}</h1>
      <p>Profile: {{mymembers.department}}</p>
      <p>Address: {{ mymembers.city }}</p>
      <p>Phone: {{ mymembers.phone }}</p>
      <p>Member since: {{ mymembers.joined_date }}</p>

      <p>Back to <a href="https://venkyalane.pythonanywhere.com/all-members/">Members</a></p>
    {% endblock %}
  </body>

</html>