{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the header */
.header {
  padding: 20px;
  text-align: center;

  background-color:"LightGray";
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
  color: Black;
}
/* change the color of the p element */
.header p {
  color: White;
}
/* image add */
</style>

<body>
    <!--Header-->
    <div class="header">
      <h1>This Web Application developed using Python,Django framework,HTML and CSS</h1>
    </div>
</body>
</head>
