{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% include 'header.html' %}
{% include 'navbar.html' %}
</br>
<body align ="center">
    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;">
        <h1><b>Welcome To Mysite</b></h1>
        <img src="{% static 'RB.jpg' %}" height="400" width="700" alt="AVS.com">
    </div>
</body>
</br>
{% include 'footer.html' %}
</html>
