<!DOCTYPE html>
<html lang="en">

<head>
    <title>Entertainment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% include 'header.html' %}
{% include 'navbar.html' %}
</br>
<body>
    <p><b>Har Har Mahadev (Video) Sachet Tandon, Parampara Tandon | DJ Shadow Dubai | Bhushan Kumar</b></p>
    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;">
        <iframe src="https://streamable.com/e/7d3ckt"
        frameborder="0"
        width="100%"
        height="100%"
        allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
    </div>
    <hr>
    </br>
    <p><b>Shiv Tandav (Rock Version) Aigiri Nandini | Sachet Tandon & Parampara Tandon | Bhushan Kumar</b></p>
    <div style="width:100%;height:0px;position:relative;padding-bottom:52.812%;">
        <iframe src="https://streamable.com/e/monuu0"
        frameborder="0"
        width="100%"
        height="100%"
        allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
    </div>
    <hr>
    </br>
    <p><b>Chal Tere Ishq Mein - Gadar 2 | Utkarsh Sharma, Simratt Kaur | Vishal Mishra , Mithoon , Sayeed Q</b></p>
    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;">
        <iframe src="https://streamable.com/e/ehiv8q"
        frameborder="0"
        width="100%"
        height="100%"
        allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
    </div>
    <hr>
    </br>
    <p><b>Shyama Aan Baso Vrindavan Full Song | Sachet Parampara | Arre Dwaarpalon | Tune Lyrico</b></p>
    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;">
        <iframe src="https://streamable.com/e/ka87hq"
        frameborder="0"
        width="100%"
        height="100%"
        allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
    </div>
    <hr>
    </br>
    <p><b>Main Nikla Gaddi Leke | Gadar 2 | Sunny Deol, Ameesha P, Utkarsh| Mithoon, Udit N, Aditya N| Uttam S</b></p>
    <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;">
        <iframe src="https://streamable.com/e/p2dzeq"
        frameborder="0"
        width="100%"
        height="100%"
        allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
    </div>
    <hr>
    </br>
    <p><b>Udd Jaa Kaale Kaava | Gadar 2 | Sunny Deol, Ameesha | Mithoon, Udit N, Alka Y | Uttam S,Anand Bakshi</b></p>
    <div style="width:100%;height:0px;position:relative;padding-bottom:52.812%;">
        <iframe src="https://streamable.com/e/beeac3"
        frameborder="0"
        width="100%"
        height="100%"
        allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe>
    </div>
    <hr>
    </br>
    <h1>Next songs coming soon...</h1>
</body>

</html>