<!DOCTYPE html>
<html>
<head>
    <title>Register Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
{% include 'header.html' %}
{% include 'navbar.html' %}
<body align="center">
<div class="container">
    <div class="row px-3">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left d-none d-md-flex"></div>

            <div class="card-body">
                <h4 class="title text-center mt-4">
                    Register Form
                </h4>
                <form class="form-box px-3" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-input">
                        <span><i class="fa fa-user"></i></span>
                        <input type="text" name="firstName" placeholder="Enter First Name" required>
                    </div></br>

                    <div class="form-input">
                        <span><i class="fa fa-user"></i></span>
                        <input type="text" name="lastName" placeholder="Enter Last Name" required>
                    </div></br>

                    <div class="form-input">
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input type="email" name="email" placeholder="Email Address" required>
                    </div></br>

                    <div class="form-input">
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input type="city" name="city" placeholder="Enter City" required>
                    </div></br>

                    <div class="form-input">
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input type="department" name="department" placeholder="Enter Department" required>
                    </div></br>

                    <div class="form-input">
                        <span><i class="fa fa-key"></i></span>
                        <input type="password" name="password" placeholder="Password" required>
                    </div></br>

                    <div class="form-input">
                        <span><i class="fa fa-phone"></i></span>
                        <input type="text" name="ContactNo" placeholder="Enter Contact No." maxlength="10" required>
                    </div></br>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-block text-uppercase">
                            Submit
                        </button>
                    </div></br>

                    <div class="row mb-3">
                            <a href="https://venkyalane.pythonanywhere.com/" class="btn btn-block btn-social btn-facebook">
                                Back to Home
                            </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>